.card {
    height: 12vh;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.imgContainer {
    width: 20%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.imgContainer .img img {
    display: block;
    max-width: 230px;
    max-height: 95px;
    width: auto;
    height: auto;
}

.imgContainer info {
    width: 50%;
}

.counter {
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.counter button {
    color: white;
    background-color: black;
    border: none;
    height: 30px;
    width: 50px;
    border-radius: 5px;
}

.button Button {
    color: white;
    background-color: black;
    border: none;
    height: 30px;
    width: 50px;
    border-radius: 5px;
}